@charset "utf-8";

/* CSS Document */
body .ui-footer .ui-header, ui-h2, ui-h1{
	
 white-space: normal;
 }
#FAQ div h1 {
	white-space: normal;
}
#banner {
	margin-right: auto;
	margin-left: auto;
	width: 200px;
	text-indent:-9999px;
	background-color: transparent;
	background-image: url(../images/GNWM_logo200.png);
	background-repeat: no-repeat;
	background-position: left 10px;
	height: 120px;
}
.landscape #banner {
	width:362px;
	height:182px;
	text-indent:-9999px;
	background-color: transparent;
	background-image: url(../images/GNWM_logo.png);
	background-repeat: no-repeat;
	background-position: left 10px; 
	margin-top: -10px;
	margin-right: auto;
	margin-bottom: -175px;
	margin-left: auto;
}

.ui-dialog-contain .content {
	padding-right: 5px;
	padding-left: 5px;
}
footer {
	text-align: center;
}
p {
	margin-left: 8px;
	margin-right: 8px;
}

#StudentLoggedIn div dd li {
	list-style-type: none;
}
